.loginSignupWrapper {
    width: 100%;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3e3e3;
}

.loginSignupWrapper .loginSignupBox {
    position: relative;
    width: 60%;
    height: auto;
    display: flex;
    padding: 20px;
    background: transparent;
    overflow: hidden;
    color: rgb(23, 177, 2);
    border-radius: 10px;
    box-shadow: 7px 5px 10px rgba(21, 160, 3, 0.6), -5px -3px 10px rgba(28, 218, 3, 0.3);
}
.loginSignupWrapper .loginBox {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.loginSignupWrapper .loginSignupBox .bar{
    position: absolute;
    top: -270px;
    right: -130px;
    width: 50%;
    height: 800px;
    transform: rotate(140deg);
    background: linear-gradient(80deg, rgb(9, 67, 1), rgb(23, 177, 2));
}

.loginSignupWrapper .signupBox {
    width: 50%;
    height: 400px;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginSignupWrapper .loginSignupBox label {
    display: block;
    margin-bottom: 10px;
    color: rgb(23, 177, 2);
}

.loginSignupWrapper .loginSignupBox .email, 
.loginSignupWrapper .loginSignupBox .password{
    width: 100%;
    color: rgb(23, 177, 2);
    background: transparent;
    outline: none;
    font-weight: bold;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(23, 177, 2);
    margin-bottom: 20px;
}

.loginSignupWrapper .loginSignupBox .checkbox {
    display: flex;
}

